@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --midground: #717171;
  --diagram: #e0e0e0;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --midground: #737373;
    --diagram: #1a1a1a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .grid-r {
    @apply grid auto-rows-min grid-cols-3 md:grid-cols-6 lg:grid-cols-9 px-8 gap-x-4 lg:gap-x-6;
  }
}
